In [ ]:
import pandas as pd
dataset = pd.read_csv("nutrients_csvfile.csv")
dataset.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
dataset=pd.read_csv("nutrients_csvfile.csv")
x=dataset.iloc[:,1:5]
y=dataset.iloc[:,5]
print(dataset.describe())

          Food Measure Grams Calories Protein  Fat Sat.Fat Fiber Carbs  \
count      335     335   335      334     335  335     333   335   335
unique     329      61   103      152      40   45      38    57    80
top     Butter   1 cup   100      100       1    t       0     0     0
freq         3     120    38       14      53  115     174   116    45

                                Category
count                                335
unique                                16
top     Breads, cereals, fastfood,grains
freq                                  45